body{
    font-family: sans-serif;
}
.container{
display: grid;
grid-template-columns: 325px 1fr;
grid-template-rows: 1fr;
}
.leftSide{
    background-color: rgb(36, 153, 255);
    color: white;
    padding: 20px;
}
.logo img{
    width: 45px;
    filter: invert(100%) sepia(22%) saturate(379%) hue-rotate(86deg) brightness(117%) contrast(106%);;

}
.logo,
.sidebar>div>div{
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
}
.logo{
    margin-bottom: 40px;
}

.logo>div,
.sidebar>div>div>div{
    display: grid;
    align-items: center;
    justify-items: center;
}
.sidebar{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 40px;
}

.sidebar img{
    width: 30px;
    filter: invert(100%) sepia(22%) saturate(379%) hue-rotate(86deg) brightness(117%) contrast(106%);;
}


.rightSide{
 background-color: bisque;
 display: grid;
 grid-template-rows: 50px 100px 1fr;
}
.rightSide img{
    width: 30px;
}
.search{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
}
.profile{
    background-color: rgb(254, 183, 183);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}